<!DOCTYPE html>
<html lang="cs" dir="ltr">
 <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="Purkiáda - šifry">
    <meta name="author" content="Petr Chatrný">
    <meta name="robots" content="index,follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="shortcut icon" type="image/ico" href='.{{url_for("static", filename="img/favicon.ico")}}'> <!--Favicon-->
    <link rel="stylesheet" type="text/css" href='.{{url_for("static", filename="styles/style.css")}}'> <!--CSS-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins&display=swap"> <!-- Poppins font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> <!-- Montserrat font-->

    <script src="https://kit.fontawesome.com/7ba2315b18.js" crossorigin="anonymous"></script><!-- ICONS -->
    <script src='.{{url_for("static", filename="scripts/scriptLog.js")}}'></script><!--Egg-->
  </head>

  <body>

    <div class = "login-box">
      <div class = "name">{{ name }}</div>
    </div>

    {% block body %}

    {% endblock %}

  </body>
</html>
