{% extends "layout.html" %}
{% block title %}Úkol č. 4{% endblock %}
{% block body %}

    <!--CONTENT BODY-->

    <h1>Úkol č. 4</h1>

    <div class = "green-box">
        <p>
            <h3>Zadání:</h3>       
        </p>

        <p>
            Zjisti z následující šifry skryté slovo. Nápověda: není to obyčejná počítačovština.
        </p>

        <p>
            <form id="form" action = "./quest4">
                <input placeholder="Odpověď" name="ans4" id="answer" type="text" class="answer-input" value = "{{answer}}">
            </form>
        </p>
    </div>

    <div class = "nav">
        <button  form="form" type = "submit" class="left" formmethod="post" name="button" value="3"><i class="fas fa-arrow-circle-left"></i></button>
        <button form="form" type = "submit" class="right" formmethod="post" name="button" value="5"><i class="fas fa-arrow-circle-right"></i></button>
    </div>

    <div class = "pics">
        <img src='.{{ url_for("static", filename="img/cyberpunk.png") }}' class="img1" width="150px">
        <div class="cypher">
            11|111|010|000|0|111|0001|101|01
        </div>
        <!--MRKNI SE DO KONSOLE xd-->
    </div>

    <!-- END CONTENT BODY-->

{% endblock %}